#rfs-container {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1000;
}

#rfs-txt {
	resize: both;
	display: block;
	background-color: #111;
	backgrond: #000;
	background: rgba(0,0,0,.9);
	color: #fff;
	border: 1px solid #000;
	outline: none;
	width: 400px;
	height: 200px;
	font: 13px/18px 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
	padding: 10px;
	overflow: auto;
	resize: none
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

#rfs-handle {
	border-width: 8px;
	border-style: solid;
	border-color: #fff transparent transparent #fff;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .1;
	cursor: nw-resize;
}
