<div class="container" id="games-list" style="text-align: center;">
    <div class="row">
        <div class="span4">
          <button onClick="rfsigbundle.reset();" type="button" class="btn btn-danger">Clear Local Storage</button>
          <button onClick="rfsigbundle.run();" type="button" class="btn btn-primary">Run</button>
          <button onClick="rfsigbundle.fillGamesList();" type="button" class="btn btn-info">Load from Local Storage</button>
        </div>
        <div class="row">
          <div class="span12">
            <textarea onClick="this.select();" id="games-list-text" rows="25" cols="950" style="width:900px"></textarea>
          </div>
        </div>
    </div>
</div>

